article {
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
    height:100%;
    text-align: center;
   
  }
  
  .gender{
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
    height:100%;
    text-align: center;
  }

label {
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-right: 10px
  }

/* input{
    margin-left: 20px;
}​ */
.full-screen{
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

footer {
    background-color: #777;
    padding: 5px;
    text-align: center;
    color: white;
    height:10%;
    width:100%;
  }

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* .overlay:target {
    visibility: visible;
    opacity: 1;
  } */